#about{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    background-color: peachpuff;
}

#about .abt-picture{
    padding-right: 100px;
}

#about .abt-picture img{
    width: 430px;
    border-radius: 60px;
}

#about .abt-picture h2{
    font-family: 'Nova Flat', cursive;
    font-weight: 600;
    margin-left: 50px;
}

#about .abt-text h3{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    width: 550px;
    font-weight: 600;
}

#about .abt-text p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    width: 550px;
    font-weight: 300;
}

@media(max-width:540px) {

    #about .abt-picture{
        padding-right: 100px;
    }
    
    #about .abt-picture img{
        width: 220px;
        border-radius: 30px;
        margin-left: 10px;
    }
    
    #about .abt-picture h2{
        font-family: 'Nova Flat', cursive;
        font-weight: 600;
        margin-left: 20px;
        font-size: 20px;
    }
    
    #about .abt-text h3{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        line-height: 25px;
        width: 300px;
        font-weight: 600;
    }
    
    #about .abt-text p{
        font-family: 'Roboto Slab', serif;
        font-size: 13px;
        line-height: 22px;
        width: 300px;
        font-weight: 300;
    }
    
}