.footer_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 50%;
    bottom: -630px;
}

.line-separator{
    position: relative;
    bottom: -560px;
    width: 60%;
    height: 1px;
    background-color: black;

}

#footer a{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    color: black;
}

#footer a:hover{
    text-decoration: underline;
}

#footer .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50px;
}

#footer .copyright img{
    width: 20px;
}

#footer .copyright{
    font-family: 'PT Serif', serif;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#footer .copyright div{
    display: flex;
    
}

@media(max-width:540px) {

    #footer{
        width: 80%;
    }

    .line-separator{
        width: 90%;
    }
}