body {

    background-image: url("../../images/9585.eps");
    margin: 0;
    height: 6400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:540px) {

    body {
        height: 5300px;
    }
}