#stories {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;


    background: linear-gradient(270deg, rgba(250, 139, 250, 0.486) 0%, rgba(220, 5, 220, 0.541) 100%);
    padding: 10px;
}

#stories h2 {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-weight: bold;
}

#stories h3 {
    font-family: 'PT Serif', serif;
    font-size: 30px;
}

#stories p {
    font-family: 'PT Serif Caption', serif;
    font-size: 20px;
    width: 500px;
}

#stories a {
    text-decoration: none;
    font-size: 25px;
    color: blueviolet;
}

#stories a:hover {
    text-decoration: underline;
}

@media(max-width:540px) {

    #stories{
        margin-top: 100px;
    }

    #stories h2 {
        font-size: 30px;
    }

    #stories h3 {
        font-size: 20px;
    }

    #stories p {
        font-size: 14px;
        width: 300px;
    }

    #stories a {
        font-size: 15px;
    }
}