body{
    padding: 0;
    margin: 0;
    
    background-color: aliceblue;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.head_banner{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    height: 18em;
    width: 0%;
    background-color: white;

    border-bottom: 5em solid aliceblue;
    border-left: 100vw solid rgb(7, 143, 255);

}

.heading{

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;

    position: absolute;
    top: 5vh;

    color: white;
}

.heading h1{
    font-size: 5em;
}

.audioPlayerContainer{
    padding: 1em;
}

#progressBar{
    height: 10px;
    background-color: black;
}

.progressBarContainer{
    height: 10px;
    width: 116px;
}

.audioPlayerContainer{
    width: 117px;
    height: 40px;
}

.audioPlayerContainer img{
    width: 20px;
    height: 20px;
}

#Body{

    font-family:'Courier New', Courier, monospace;
    line-height: 1.4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Body ul{
    width: 60vw;
}

#Body p{
    width: 60vw;
}

#footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:540px){

    .heading h1{
        font-size: 3em;
    }

    .heading{
        padding-left: 3em;
    }

    #Body ul{
        width: 80vw;
        padding-left: 1em;
        font-size: .8em;
        font-weight: bold;
    }

    #Body p{
        width: 80vw;
        padding-left: 1em;
        font-size: .8em;
        font-weight: bold;
    }
}
